# Sensible Daten
.env
# Virtuelle Umgebung
venv/
# Generierte Node.js-Abhängigkeiten
node_modules/
# Generierte Frontend-Build-Dateien
build/
# Python Cache-Dateien
__pycache__/
*.pyc
# Datenbankdateien
backend/data/webui.db*
# Logs
*.log
